<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Testing</title>
</head>
<body>
    <h1>Database Information Should Appear Here</h1>
    <form method="POST">
        <input type="string" name="enteredText" placeholder="Enter Some Text" step="any" required>
        <br><br>
        <input type="submit" value="Ask ChatGPT">
    </form>
    {% if llmResponse is not none %}
        <h2>Response: {{ llmResponse }}</h2>
    {% endif %} 
    <a href="/">Press Here to go back to calculator</a>
    <br><br>
    <a href="/game">Try an HTML5 game</a>
</body>
</html>