<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        <label for="password">Password:</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        <input type="submit" value="Login">
    </form>
    <br>
    {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ message[0] }}">
            {{ message[1] }}
        </div>
    {% endfor %}
</body>
</html>
